<footer class="text-center text-white" style="background-color: #caced1;">
  <div class="card-group">
    <div class="card m-2">
      <img class="card-img-top m-6" src="/static/shop3.jpeg" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Tuck shop, Sangli</h5>
        <p class="card-text">Here you can get any thing of daily use.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card m-2" padding="10px">
      <img class="card-img-top m-6" src="/static/shop2.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">My_shop,Kolhapur</h5>
        <p class="card-text">Here you can get any thing of daily use.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card m-2" padding="10px">
      <img class="card-img-top m-6" src="/static/shop3.jpeg" alt="Card image cap"  >
      <div class="card-body">
        <h5 class="card-title">Tuck shop, Miraj</h5>
        <p class="card-text">Here you can get any thing of daily use.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  </footer>