<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style>
        @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #a1c4fd;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
background-color: #4835d4;
}
@media (min-width: 992px) {
.card-registration-2 .bg-indigo {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
}
@media (max-width: 991px) {
.card-registration-2 .bg-indigo {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
}
    </style>
</head>
<body>
    {% include 'navbar.html'%}
    <p>{{message}}</p>
    <div>
    <form action="" method="POST">
      {% csrf_token %}
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5" style="color: #4835d4;">Shopkeeper information</h3>
                        <div class="row">
                          <div class="col-md-6 mb-4 pb-2">
      
                            <div class="form-outline">
                              <input type="text" id="form3Examplev3" class="form-control form-control-lg" name="first_name" required/>
                              <label class="form-label" for="form3Examplev3" >First name</label>
                            </div>
      
                          </div>
                          <div class="col-md-6 mb-4 pb-2">
      
                            <div class="form-outline">
                              <input type="text" id="form3Examplev3" class="form-control form-control-lg" name="last_name"required />
                              <label class="form-label" for="form3Examplev3">Last name</label>
                            </div>
      
                          </div>
                        </div>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="text" id="form3Examplev4" class="form-control form-control-lg" name="username" required/>
                            <label class="form-label" for="form3Examplev4">Username</label>
                            <br>
                            {{message}}
                          </div>
                        </div>

                        <div class="col-md-7 mb-4 pb-2">
      
                          <div class="form-outline form-white">
                            <input id="form3Examplea8" class="form-control form-control-lg"type="password" name="password"required/>
                            <label class="form-label" for="form3Examplea8">Password</label>
                          </div>
    
                        </div>

                        <div class="col-md-7 mb-4 pb-2">
      
                          <div class="form-outline form-white">
                            <input  id="form3Examplea8" class="form-control form-control-lg" type="password" name="re_enter_password"required/>
                            <label class="form-label" for="form3Examplea8">Re-enter Password</label>
                            {{str}}
                          </div>
    
                        </div>
      
                        <div class="row">
                          <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
      
                            <div class="form-outline">
                              <input type="text" id="form3Examplev5" class="form-control form-control-lg" name="shopkeeper_address" required/>
                              <label class="form-label" for="form3Examplev5">Shopkeeper address</label>
                            </div>
      
                          </div>
                          <div class="col-md-6">
      
                            <select class="select" name="shop_category">
                              <option value="">Shop category</option>
                              <option value="Electronics">Electronics</option>
                              <option value="Footwear">Footwear</option>
                              <option value="Cloths">Cloths</option>
                              <option value="General store">General store</option>
                              <option value="others">others</option>
                            </select>
      
                          </div>
                        </div>
      
                      </div>
                    </div>
                    <div class="col-lg-6 bg-indigo text-white">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5">Shop Details</h3>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" name="city"required/>
                            <label class="form-label" for="form3Examplea2">City</label>
                          </div>
                        </div>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea3" class="form-control form-control-lg" name="local_address" />
                            <label class="form-label" for="form3Examplea3">Local address</label>
                          </div>
                        </div>
      
                        <div class="row">
                          <div class="col-md-5 mb-4 pb-2">
      
                            <div class="form-outline form-white">
                              <input type="text" id="form3Examplea4" class="form-control form-control-lg" name="zip_code"required/>
                              <label class="form-label" for="form3Examplea4">Zip Code</label>
                            </div>
      
                          </div>
                          <div class="col-md-7 mb-4 pb-2">
      
                            <div class="form-outline form-white">
                              <input type="text" id="form3Examplea5" class="form-control form-control-lg" name="shop_name"required/>
                              <label class="form-label" for="form3Examplea5">Shop name</label>
                            </div>
      
                          </div>
                        </div>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea7" class="form-control form-control-lg" name="country" value="india" readonly/>
                            <label class="form-label" for="form3Examplea7" >Country</label>
                          </div>
                        </div>
      
                        <div class="row">
                          <div class="col-md-5 mb-4 pb-2">
      
                            <div class="form-outline form-white">
                              <input type="number" id="form3Examplea7" class="form-control form-control-lg" name="country_code" value="91" readonly/>
                              <label class="form-label" for="form3Examplea7" >Code +</label>
                            </div>
      
                          </div>
                          <div class="col-md-7 mb-4 pb-2">
      
                            <div class="form-outline form-white">
                              <input type="number" id="form3Examplea8" class="form-control form-control-lg" name="phone_number"required/>
                              <label class="form-label" for="form3Examplea8">Phone Number</label>
                            </div>
      
                          </div>
                        </div>
                        <div class="form-check d-flex justify-content-start mb-4 pb-3">
                          <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" required/>
                          <label class="form-check-label text-white" for="form2Example3">
                            I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                            site.
                          </label>
                        </div>
      
                        <button type="submit" class="btn btn-light btn-lg"
                          data-mdb-ripple-color="dark">Register</button>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
    
  </div>
</body>
</html>